In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("E:/Unifield-internship/Project/Coffee Sales/Coffee_sales_data.csv")
df.head()

,date,datetime,cash_type,card,money,coffee_name
0,2024-03-01,2024-03-01 10:15:50.520,card,ANON-0000-0000-0001,38.7,Latte
1,2024-03-01,2024-03-01 12:19:22.539,card,ANON-0000-0000-0002,38.7,Hot Chocolate
2,2024-03-01,2024-03-01 12:20:18.089,card,ANON-0000-0000-0002,38.7,Hot Chocolate
3,2024-03-01,2024-03-01 13:46:33.006,card,ANON-0000-0000-0003,28.9,Americano
4,2024-03-01,2024-03-01 13:48:14.626,card,ANON-0000-0000-0004,38.7,Latte

In [3]:
print(df.dtypes)

date            object
datetime        object
cash_type       object
card            object
money          float64
coffee_name     object
dtype: object

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1133 entries, 0 to 1132
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         1133 non-null   object
 1   datetime     1133 non-null   object
 2   cash_type    1133 non-null   object
 3   card         1044 non-null   object
 4   money        1133 non-null   float64
 5   coffee_name  1133 non-null   object
dtypes: float64(1), object(5)
memory usage: 53.2+ KB

In [5]:
df.isnull().sum()

date            0
datetime        0
cash_type       0
card           89
money           0
coffee_name     0
dtype: int64

In [6]:
df['cash_type'].unique()

array(['card', 'cash'], dtype=object)

In [7]:
df.describe()

             money
count  1133.000000
mean     33.105808
std       5.035366
min      18.120000
25%      28.900000
50%      32.820000
75%      37.720000
max      40.000000

In [8]:
df['card'] = df['card'].fillna(method='ffill')

In [9]:
df.isnull().sum()

date           0
datetime       0
cash_type      0
card           0
money          0
coffee_name    0
dtype: int64

# Copy the data.

In [10]:
data = df.copy()

# New data Name

In [11]:
data['date'] = pd.to_datetime(data['date'])

data['datetime'] = data['datetime'].astype(str)

In [12]:
data.dtypes

date           datetime64[ns]
datetime               object
cash_type              object
card                   object
money                 float64
coffee_name            object
dtype: object

# Removing Outliner using Z-Score

In [13]:
from scipy.stats import zscore

data = data[(np.abs(zscore(data[['money']])) < 3).all(axis=1)]

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1133 entries, 0 to 1132
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         1133 non-null   datetime64[ns]
 1   datetime     1133 non-null   object
 2   cash_type    1133 non-null   object
 3   card         1133 non-null   object
 4   money        1133 non-null   float64
 5   coffee_name  1133 non-null   object
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 53.2+ KB

# Feature Engineering

In [15]:
data['day'] = data['date'].dt.day

data['month'] = data['date'].dt.month

data['year'] = data['date'].dt.year

In [16]:
data[['Date', 'Time_MS']] = data['datetime'].str.split(' ', expand=True)

data[['time', 'Milliseconds']] = data['Time_MS'].str.split('.', expand=True)

data.drop(columns=['Time_MS','Date','Milliseconds'], inplace=True)

In [17]:
data['time'] = pd.to_datetime(data['time'])

C:\Users\DHRUV\AppData\Local\Temp\ipykernel_14112\838708846.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['time'] = pd.to_datetime(data['time'])

In [18]:
data['hour'] = data['time'].dt.hour
data['minute'] = data['time'].dt.minute
data['second'] = data['time'].dt.second

In [19]:
data.drop(columns=['date','datetime','time'], inplace=True)

In [20]:
data.head()

,cash_type,card,money,coffee_name,day,month,year,hour,minute,second
0,card,ANON-0000-0000-0001,38.7,Latte,1,3,2024,10,15,50
1,card,ANON-0000-0000-0002,38.7,Hot Chocolate,1,3,2024,12,19,22
2,card,ANON-0000-0000-0002,38.7,Hot Chocolate,1,3,2024,12,20,18
3,card,ANON-0000-0000-0003,28.9,Americano,1,3,2024,13,46,33
4,card,ANON-0000-0000-0004,38.7,Latte,1,3,2024,13,48,14

In [21]:
data.describe()

,money,day,month,year,hour,minute,second
count,1133.000000,1133.000000,1133.000000,1133.0,1133.000000,1133.000000,1133.000000
mean,33.105808,16.793469,5.082083,2024.0,14.552515,28.516328,29.286849
std,5.035366,8.921907,1.390073,0.0,4.084588,16.593960,17.670266
min,18.120000,1.000000,3.000000,2024.0,7.000000,0.000000,0.000000
25%,28.900000,9.000000,4.000000,2024.0,11.000000,15.000000,14.000000
50%,32.820000,18.000000,5.000000,2024.0,14.000000,28.000000,29.000000
75%,37.720000,25.000000,6.000000,2024.0,18.000000,42.000000,45.000000
max,40.000000,31.000000,7.000000,2024.0,22.000000,59.000000,59.000000

In [22]:
da = data.copy()

In [23]:
da.drop(columns=['card'], inplace=True)

In [24]:
da.head()

  cash_type  money    coffee_name  day  month  year  hour  minute  second
0      card   38.7          Latte    1      3  2024    10      15      50
1      card   38.7  Hot Chocolate    1      3  2024    12      19      22
2      card   38.7  Hot Chocolate    1      3  2024    12      20      18
3      card   28.9      Americano    1      3  2024    13      46      33
4      card   38.7          Latte    1      3  2024    13      48      14

In [25]:
ds = da.copy()

# Predict based on 'Money'

In [26]:
import warnings
warnings.filterwarnings("ignore")

import re

from sklearn.preprocessing import StandardScaler, MinMaxScaler

from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier

# !pip install xgboost
import xgboost as xgb
from xgboost import XGBRegressor
from xgboost import XGBClassifier

from tensorflow.keras.layers import Dense, Dropout, Activation
from tensorflow.keras.optimizers import SGD, Adam
from tensorflow.keras.models import Sequential
from collections import Counter

from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [27]:
from sklearn.preprocessing import LabelEncoder

# Initialize encoder
label_encoder = LabelEncoder()

# Encode categorical columns
da['cash_type'] = label_encoder.fit_transform(da['cash_type'])  
da['coffee_name'] = label_encoder.fit_transform(da['coffee_name'])

In [28]:
#da = pd.get_dummies(da, columns=['cash_type', 'coffee_name'], drop_first=True)

In [29]:
da.head()

   cash_type  money  coffee_name  day  month  year  hour  minute  second
0          0   38.7            7    1      3  2024    10      15      50
1          0   38.7            6    1      3  2024    12      19      22
2          0   38.7            6    1      3  2024    12      20      18
3          0   28.9            0    1      3  2024    13      46      33
4          0   38.7            7    1      3  2024    13      48      14

In [30]:
X = da.drop(columns=['money'])
y = da['money']

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [31]:
#Initialize Models
models = {
    "Linear Regression": LinearRegression(),
    "Random Forest": RandomForestRegressor(n_estimators=100, random_state=42),
    "XGBoost": XGBRegressor(n_estimators=100, learning_rate=0.1, random_state=42)
}

#Train & Evaluate Models
results = []
for name, model in models.items():
    model.fit(X_train, y_train)  # Train
    y_pred = model.predict(X_test)  # Predict
    
    mae = mean_absolute_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    
    results.append((name, mae, r2))
    print(f"{name} → MAE: {mae:.2f}, R² Score: {r2:.2f}")

#Compare Results
results_df = pd.DataFrame(results, columns=["Model", "MAE", "R² Score"])
print("\nModel Performance Comparison:")
print(results_df.sort_values(by="MAE"))  # Sort by MAE (Lower is better)

Linear Regression → MAE: 3.06, R² Score: 0.16
Random Forest → MAE: 0.06, R² Score: 1.00
XGBoost → MAE: 0.06, R² Score: 0.99

Model Performance Comparison:
               Model       MAE  R² Score
2            XGBoost  0.056618  0.994389
1      Random Forest  0.057254  0.997703
0  Linear Regression  3.057205  0.156004

# Predicting Payment Method (Classification)

In [32]:
X1 = da.drop(columns=['cash_type'])  # Features
y1 = da['cash_type']

In [33]:
X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size=0.2, random_state=42)

#Initialize Models
models = {
    "Logistic Regression": LogisticRegression(),
    "Decision Tree": DecisionTreeClassifier(random_state=42),
    "Random Forest": RandomForestClassifier(n_estimators=100, random_state=42),
    "XGBoost": XGBClassifier(n_estimators=100, learning_rate=0.1, random_state=42)
}

#Train & Evaluate Models
results = []
for name, model in models.items():
    model.fit(X1_train, y1_train)  # Train the model
    y1_pred = model.predict(X1_test)  # Predict on test data
    
    acc = accuracy_score(y1_test, y1_pred)
    precision = precision_score(y1_test, y1_pred)
    recall = recall_score(y1_test, y1_pred)
    f1 = f1_score(y1_test, y1_pred)
    
    results.append((name, acc, precision, recall, f1))
    print(f"{name} → Accuracy: {acc:.2f}, Precision: {precision:.2f}, Recall: {recall:.2f}, F1-score: {f1:.2f}")

#Compare Results
results_df = pd.DataFrame(results, columns=["Model", "Accuracy", "Precision", "Recall", "F1-score"])
print("\nModel Performance Comparison:")
print(results_df.sort_values(by="Accuracy", ascending=False))

Logistic Regression → Accuracy: 0.92, Precision: 0.00, Recall: 0.00, F1-score: 0.00
Decision Tree → Accuracy: 1.00, Precision: 1.00, Recall: 1.00, F1-score: 1.00
Random Forest → Accuracy: 0.97, Precision: 1.00, Recall: 0.68, F1-score: 0.81
XGBoost → Accuracy: 1.00, Precision: 1.00, Recall: 1.00, F1-score: 1.00

Model Performance Comparison:
                 Model  Accuracy  Precision    Recall  F1-score
1        Decision Tree  1.000000        1.0  1.000000    1.0000
3              XGBoost  1.000000        1.0  1.000000    1.0000
2        Random Forest  0.973568        1.0  0.684211    0.8125
0  Logistic Regression  0.916300        0.0  0.000000    0.0000

# Coffee Choice Prediction

In [34]:
X2 = da.drop(columns=['coffee_name'])  # Features
y2 = da['coffee_name']

In [36]:
#Standardize Features (Neural Networks work better with scaled data)
scaler = StandardScaler()
X2 = scaler.fit_transform(X2)

#Split Data into Train & Test Sets
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, test_size=0.2, random_state=42)

#Initialize Models
models = {
    "Random Forest": RandomForestClassifier(n_estimators=100, random_state=42),
    "XGBoost": XGBClassifier(n_estimators=100, learning_rate=0.1, random_state=42),
    "Neural Network": MLPClassifier(hidden_layer_sizes=(64, 32), max_iter=500, random_state=42)
}

#Train & Evaluate Models
results = []
for name, model in models.items():
    model.fit(X2_train, y2_train)  # Train the model
    y2_pred = model.predict(X2_test)  # Predict on test data
    
    acc = accuracy_score(y2_test, y2_pred)
    precision = precision_score(y2_test, y2_pred, average='weighted')
    recall = recall_score(y2_test, y2_pred, average='weighted')
    f1 = f1_score(y2_test, y2_pred, average='weighted')
    
    results.append((name, acc, precision, recall, f1))
    print(f"{name} → Accuracy: {acc:.2f}, Precision: {precision:.2f}, Recall: {recall:.2f}, F1-score: {f1:.2f}")

#Compare Results
results_df = pd.DataFrame(results, columns=["Model", "Accuracy", "Precision", "Recall", "F1-score"])
print("\Model Performance Comparison:")
print(results_df.sort_values(by="Accuracy", ascending=False))

Random Forest → Accuracy: 0.65, Precision: 0.64, Recall: 0.65, F1-score: 0.64
XGBoost → Accuracy: 0.62, Precision: 0.62, Recall: 0.62, F1-score: 0.61
Neural Network → Accuracy: 0.62, Precision: 0.63, Recall: 0.62, F1-score: 0.61
\Model Performance Comparison:
            Model  Accuracy  Precision    Recall  F1-score
0   Random Forest  0.651982   0.642133  0.651982  0.636673
2  Neural Network  0.621145   0.630846  0.621145  0.613379
1         XGBoost  0.616740   0.622715  0.616740  0.611010

In [38]:
data.to_csv('E:/Unifield-internship/Project/Coffee Sales/Coffee_sale.csv', index = True)